@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --bg-color: #f6f8fa;
  --text-color: #1d1f27;
  --main-color: #3498db; /* Trustworthy blue */
  --main-bg-color: #ffffff;
  --main-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom right, #ffffff, #3498db);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h3,
header,
ul {
  margin-bottom: 0.5rem;
}

main {
  max-width: 800px;
  width: 100%;
  background-color: var(--main-bg-color);
  padding: 1rem;
  box-shadow: var(--main-shadow);
  border-radius: 8px;
}

header {
  background-color: var(--main-color);
  color: #fff;
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.header-summary {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.summary-item {
  text-align: center;
  color: #fff;
  margin: 0 10px;
}

.summary-item h5 {
  margin: 0;
  font-size: 1rem;
}

.summary-item span {
  font-size: 1.25rem;
  font-weight: bold;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

form input:not(#type),
form button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 5px;
  height: 42px;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

form button {
  background-color: var(--main-color);
  color: #fff;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

form label {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}

form div:nth-child(-n + 2) {
  flex-basis: 100%;
}

form div:nth-child(n + 3) {
  flex-basis: calc(50% - 5px);
}

ul {
  list-style-type: none;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 5px 10px;
  position: relative;
}

ul li:hover {
  background: rgba(0, 0, 0, 0.1);
}

.name {
  flex: 1;
}

.name h4 {
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
}

.name p {
  font-size: 0.8rem;
  color: #555;
}

.amount {
  font-weight: 600;
}

.amount.income {
  color: yellowgreen;
}

.amount.expense {
  color: indianred;
}

.action {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #f00;
  color: #fff;
  height: 100%;
  width: 50px;
  display: grid;
  place-items: center;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 300ms;
}

ul li:hover .action {
  transform: scaleX(1);
}

.action svg {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

#status {
  text-align: center;
  margin-bottom: 0.5rem;
}

/* Row layout */
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.add-transaction,
.display-transaction {
  flex: 1;
  min-width: 300px;
}

/* Add transaction form styles */
.add-transaction h3,
.display-transaction h3 {
  text-align: center;
  color: var(--main-color);
}

#transaction-list {
  list-style: none;
  padding: 0;
}

#transaction-list li {
  background-color: #fafafa;
  border-left: 5px solid var(--main-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#transaction-list li.expense {
  border-color: #e74c3c;
}

#transaction-list li span {
  flex: 1;
  text-align: right;
}
